In [7]:
import pandas as pd
%matplotlib inline
url = 'https://github.com/prasertcbs/tutorial/raw/master/sales.tsv'
df=pd.read_table(url)
df

   Year      TV  Camera   Phone
0  2011  556300  943620  518600
1  2012  344200  583370  323920
2  2013  727320  548640  941500
3  2014  462870  661520  650570
4  2015  916600  974180  148740
5  2016  176830  588990  910570
6  2017  745550  896860  982820

In [8]:
TV_mean = df.TV.mean()
TV_sd = df.TV.std()
Camera_mean = df.Camera.mean()
Camera_sd = df.Camera.std()
Phone_mean = df.Phone.mean()
Phone_sd = df.Phone.std()
df['z_TV']=(df.TV-TV_mean)/TV_sd
df['z_Camera']=(df.Camera-Camera_mean)/Camera_sd
df['z_Phone']=(df.Phone-Phone_mean)/Phone_sd
df.head()

   Year      TV  Camera   Phone      z_TV  z_Camera   z_Phone
0  2011  556300  943620  518600 -0.019870  1.072778 -0.370935
1  2012  344200  583370  323920 -0.849234 -0.848366 -0.968079
2  2013  727320  548640  941500  0.648861 -1.033575  0.926232
3  2014  462870  661520  650570 -0.385204 -0.431607  0.033859
4  2015  916600  974180  148740  1.388994  1.235749 -1.505411

In [9]:
df.z_TV.mean(),df.z_Camera.mean(),df.z_Phone.mean()

(1.9032394707859825e-16, 1.5860328923216522e-16, 1.9032394707859825e-16)

In [10]:
df.z_TV.std(),df.z_Camera.std(),df.z_Phone.std()

(0.9999999999999999, 1.0, 0.9999999999999999)